.heart {
  width: 50px;
  height: 50px;
  background-color: #1976d2;
  clip-path: polygon(50% 90%, 0% 40%, 25% 0%, 50% 20%, 75% 0%, 100% 40%);
}

.heart-dark {
  width: 50px;
  height: 50px;
  background-color: #3a3a3a;
  clip-path: polygon(50% 90%, 0% 40%, 25% 0%, 50% 20%, 75% 0%, 100% 40%);
}
