@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f5f7fa;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

#logo {
  width: 80px;
  height: 80px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 6rem;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  width: 400px;
  height: 60px;
  margin: 10px;
  background : #1976d2;
  color: white;
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover {
  transform: translateY(-2px);
  background: #1976d2;
}

footer {
  font-size: smaller;
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: auto;
  color: #666;
}

#logo_footer {
  width: 40px;
  height: 40px;
}
