@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("heart.css");
body {
  background-color: #f5f7fa;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#returnHome {
  text-decoration: none;
  color: #1976d2;
  font-weight: bold;
  margin: 10px 0;
}

#restart {
  text-decoration: none;
  color: #f5f5dc;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #1976d2;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;

}

#restart:hover {
  transform: translateY(-2px);
}

#logo {
  width: 80px;
  height: 80px;
}

.chess-board {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 20px 0;
  grid-column: 2;
}

td {
  width: 48px;
  height: 48px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  position: relative;
  padding: 4px;
}

.white:hover,
.blue:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.white {
  background: #f5f5dc;
  color: #1976d2;
  font-weight: bold;
}

.blue {
  background: #1976d2;
  color: #f5f5dc;
  font-weight: bold;
}

.letter {
  font-weight: bold;
  text-align: right;
  vertical-align: bottom;
  font-size: 18px;
  padding-bottom: 2px;
}

.number {
  text-align: left;
  vertical-align: top;
  font-size: 18px;
  font-weight: bold;
}

#number1 {
  position: absolute;
  top: 2px;
  left: 4px;
  font-weight: bold;
  font-size: 18px;
}

#lettera {
  position: absolute;
  bottom: 0px;
  right: 4px;
  font-weight: bold;
  font-size: 18px;
}

#case {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  color: #1976d2;
  width: 100%;
  text-align: center;
}

#game-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.scores-container {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#timer,
#score,
#highScore {
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0;
  color: #1976d2;
}

.score-timer-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.score-timer-block .label {
  font-size: 18px;
  font-weight: normal;
  color: #222;
  margin-right: 10px;
}

#switch{
  width: 40px;
}

#container-hearts {
  display: flex;
  flex-direction: row;
  gap: 5px;

}
